<!-- core/templates/core/home.html -->
{% extends 'core/base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>Estudio Jurídico Integral</h1>
    
    <div class="row mt-4">
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">Historia</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">Asesoramiento</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">Solicitar atención</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">Contactame</a>
        </div>
    </div>
</div>
{% endblock %}
